<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hyva_punchoutgateway>
            <general>
                <detect_hyva>1</detect_hyva>
            </general>
        </hyva_punchoutgateway>
    </default>
</config>
